/*
 * author: Premier sushi
 * template: Premier Sushi- Creative emplate
 * version: v1.1
 * url: http:/

*/


/*====================================================
01. CSS Reset
02. Basic Document Styles
03. HEADER
04. MENU
05. Hero IMG
06. HEADER Title for each of SECTION
07. Premier sushi - section
08  STEP - section 
09. Gallery - Section 
10. Catering
11. CONTACT - section / end wrapper 
12. Footer - Section
13. Animations
14. SCROLL UP
15. othermenu - section
16. 404 error 
====================================================*/

/*====================================================
01. CSS Reset
====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--main-color: #E8212A;
	/* bg colors */
	--bg-dark: #0B0C0D;
	--bg-light: #F7F7F7;
	--bg-gray: #ECECEC;
	--bg-blue: #f1f5f9;
	--color-dark: #1D2231;
	/* text colors */
	--text-grey: #8390A2;
	--text-gray: #8d8985;
	--text-black: #0B0C0D;
	--text-red: #e21836; #EB2026;
	--text-white: #FFFFFF;
	--text-red2: #c04444;
	--text-black2: #2d2c2b;
}
:root {
  --white:#fff;
  --black:#000;
  --darker:#2E2E2E;
  --dark:rgb(0 0 0 / 60%);
  --light:rgb(0 0 0 / 40%);
  --sand: #D7D0C8;
  --sand2:#D7D0C8;
  --taupe:#9F978D;
  --earth:#98887C;
  --fog:#A19999;
  --sage:#98968C
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
a {
    background-color: transparent;
    text-decoration: none;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
svg:not(:root) {
    overflow: hidden;
}

dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    font-size: 1em;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}

svg {
    overflow: visible;
}


embed,
iframe,
object,
video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}

/*====================================================
02. Basic Document Styles
====================================================*/

* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale; }

:after,
:before {
  box-sizing: border-box;
  margin: 0; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  max-height: 100%; }

body {
	/*  font-family: "Inter-Regular";*/
  font-family: 'Poppins', sans-serif;
	font-size: 1rem;
  	color: #0B0C0D;
}
/* --------------------------------------------------------------
/* background & border - SCREENS
-------------------------------------------------------------- */


/* bg color */
.bg-primary {
  background-color:var(--sand)
}

.bg-secondary {
  background-color:var(--taupe)
}


.border-t-1 {
  border-top-width: -1px;
  border-top-style: solid;
}
.border-b-1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;  
}

.border-primary {
  border-color:var(--black)
}
.border-secondary {
  border-color: rgba(0,0,0,.1);
}

.border-transparent {
  border-color:transparent
}
.border-inverse {
  border-color:var(--sand)
}


.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/*
.flex {
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap; }

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}


.container {
	max-width: 1080px;
  	margin: 0 auto;
  	padding: 0 20px; 
}
*/

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

/*===== CONTAINER =====*/
.u-wrap {
    padding-right:2.5rem; 
    padding-left: 2.5rem; 
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
    width: 100%;
}
.u-wrap .u-wrap {
    padding-right: 0;
    padding-left: 0;
}
/*
.section{
  padding: 5.5rem 0 1rem;
}
*/
::-webkit-input-placeholder {
 color:unset
}
::-moz-placeholder {
 color:unset
}
:-ms-input-placeholder,
::-ms-input-placeholder {
 color:unset
}
::placeholder {
 color:unset
}


/*====================================================
03. HEADER
====================================================*/

.c-header {
	color: var(--text-grey);
	display: block;
	font-size: 0;
	overflow: visible;
	position: absolute;
}

.header_inline {
	align-items: center;
	background-color:none; 
	display: flex;
	justify-content: flex-start;
	padding: 35px 5vw 0;
	pointer-events: none;
	position: fixed;
    width:100%;
	z-index: 9999;
	-webkit-transition: all 0.3s ease-out 0s;
	   -moz-transition: all 0.3s ease-out 0s;
	 	-ms-transition: all 0.3s ease-out 0s;
	  	-o-transition: all 0.3s ease-out 0s;
	  	   transition: all 0.3s ease-out 0s;	
}
 /*@media (--lg-up) {*/
 /* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	 .header_inline {
		 height: 77px;
		 padding: 44px 40px 0;
	}
}

.header_inline .inline_col {
	display: inline-flex;
	vertical-align: middle; 
}

/* scrolled */
.has-scrolled.header_inline {
	/*
	background-color: rgba(255,255,255,0);
 	-webkit-backdrop-filter: blur(20px);
 	backdrop-filter: blur(20px); */
	background-color: #FFF;
 	padding-top: 0 !important;
	pointer-events: auto;

	transition:
		padding .6s ease 0s,
		background .6s ease .6s,
		backdrop-filter .6s ease .9s;

  	-webkit-transition: background-color 2s ease-out;
  	-moz-transition: background-color 2s ease-out;
  	-o-transition: background-color 2s ease-out;
  	transition: background-color 2s ease-out;
 	-webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.3); 
}
@media (min-width: 992px) { 
	 .has-scrolled.header_inline {
		 min-height: 77px;
		 padding: 44px 40px 0;
	}
}

/* is open nav => Scrolled */

.is-open .has-scrolled.header_inline{
    box-shadow: none !important;
}
/* left side => aside */

/*------------------------------------
  BUTTON - order
-------------------------------------*/
.inline_btn {
	 flex: 0 0 calc(50% - 75px);
	 justify-content: flex-start;
	 text-align: left;
	 transition: all 0.6s ease 0.3s;
	 width: calc(50% - 75px);
}
@media (min-width: 992px) { 
	 .inline_btn {
		 flex-basis: calc(50% - 130px);
		 width: calc(50% - 130px);
	}
}
/*// X-Small devices (portrait phones, less than 576px)*/ /* @media (--xs-down) { */
@media only screen and (max-width: 600px) {
	 .inline_btn .btn_link {
		 padding: 0 !important;
	}
	 .inline_btn .btn_link .o_text {
		 padding: 9px !important;
	}
}
 
.btn_link {
	 pointer-events: auto;
}

/** * Primary */
.o-btn--1 {
	appearance: none;
	align-items: center;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 43px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	outline: 0;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-out-quart;
	user-select: none;
	/* Hover */
	/* Modifiers */
}
.o-btn--1::before {
	background-image: linear-gradient(to right, rgba(215, 43, 89, .5), rgba(251, 232, 81, .5));
	border-radius: 43px;
	content: "";
	display: block;
	opacity: 0;
	position: absolute 3px;
	size: calc(100% - 6px);
	transition: all 0.3s ease-out-quart;
	z-index: 0;
}
.o-btn--1 .o_icon {
	background: #f00;
	border-radius: 100%;
	flex: 0 0 50px;
	position: relative;
	size: 50px;
	z-index: 1;
}

.o-btn--1 .order_text {
	align-items: center;
	color: #fff;
	display: inline-flex;
	justify-content: center;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin: auto;
	padding: 0 9px;
	position: relative;
	text-align: center;
	text-decoration: inherit;
	text-transform: uppercase;
	vertical-align: middle;
	z-index: 1;
}

.o-btn--1 .order_text {
	font-size: 10px;
	padding: * 20px;
}
@media (min-width: 992px)  {
	.o-btn--1 .order_text {
		font-size: 12px;
	}
}

.o-btn--1 .order_text:hover {
	border-color: rgba(255, 255, 255, .5);
	opacity: 0.5;
}

/* btn height */
.o-btn--1.-height--2 {
	min-height: 30px;
	padding: 2px;
}
@media (min-width: 992px)  {
	.o-btn--1.-height--2 {
		min-height: 48px;
	}
}

.inline_btn  {opacity:0 }
.has-scrolled .inline_btn  {opacity: 1}

.has-scrolled .o-btn--1 { border: 2px solid var(--text-black); }
.has-scrolled .o-btn--1 .order_text {  color: var(--text-black); }
/*=============== LOGO ===============*/
.inline_logo {
	flex: 0 0 140px;
	width: 140px;
	justify-content: center;
	text-align: center;
	transition: all 0.6s ease 0.3s; 
}
 /*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.inline_logo {
		flex-basis: 250px;
		width: 250px;
	}
}

.logo_link {
	display: inline-flex;
	margin: auto;
	pointer-events: auto;
	text-decoration: none;
	transition: all .6s ease .3s;
}
.logo_img {
	width: 140px;
    left: 0;
	position: relative;
    top: 0;
}
 /*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	 .logo_img {
		 max-width: 117px;
	}
}
 /*// small devices */
@media (max-width: 320px) { 
	 .logo_img {
		 width: 57px;
	}
}



 /* Reveal logo on scroll */
.logo_link {
	opacity: 0;
}
.has-scrolled .logo_link {
	opacity: 1;
	/*transition-delay: 1.2s;*/
	transition-delay: 0.5s;
}


.header-logo{line-height:0;font-size:0;top:0;left: .75rem;position:absolute;z-index:1}
.header-logo img{width:110px}

.header-logo {
  	-webkit-transition: background-color 2s ease-out;
  	-moz-transition: background-color 2s ease-out;
  	-o-transition: background-color 2s ease-out;
  	transition: background-color 2s ease-out;
 	-webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5); 
}
/* Logo on -> open menu
----------------------------------------------*/
.logo_link--1{
	display: flex;
	margin: auto;
	pointer-events: auto;
	text-decoration: none;
	transition: all .6s ease .3s;
   	top: 5%;
   	left: 15%;	
	position: fixed;

}
.logo {
	width: 140px;
}



/*------------------------------------
  page overlay
-------------------------------------*/
#page-overlay {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:80;
}
.is-open #page-overlay {
	display:block;
 	background: rgb(255,255, 255,0.5);
	
}
.is-open #page-overlay {
	display:block;
	background: rgb(255,255, 255,0.5);
}
/*====================================================
04. MENU - button 
====================================================*/
 /* Large devices (desktops, 992px and up)*/
 /*
.inline_menu {
	flex: 0 0 calc(50% - 65px);
	justify-content: flex-end;
	text-align: right;
	width: calc(50% - 65px);
}

@media (min-width: 992px) { 
	.inline_menu {
		flex-basis: calc(50% - 130px);
		width: calc(50% - 130px);
	}
}
*/

.inline_menu {
	flex: 0 0 calc(50% - 85px);
	justify-content: flex-end;
	text-align: right;
	width: calc(50% - 85px);
}

 /* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.inline_menu {
	flex: 0 0 calc(50% - 105px);
	width: calc(50% - 105px);
	}
}
/*------------------------------------
  HAMBURGER MENU  - toggle icon
-------------------------------------*/
.menu_btn { 
	align-items: center;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	outline: 0;
	border: 0;
	pointer-events: auto; 
	margin-right:  auoto; 
}

.btn_icon {
	display: inline-block;
	position: relative;
	width: 35px;
	vertical-align: middle;
	top: 0;
	
}

.btn_icon i {
	border-radius: 50px;
	position: absolute;
	left: 0;
}
.icon_to-exit {
	position: absolute;
	width: 100%;
	top: 0;
}

.icon_to-open { 
	display:inline-block;
	padding: 15px;
	pointer-events:auto;
	position:absolute;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	border-radius: 100%; 
}
.icon_to-open i {
	background: #FFF;
	transition: all 0.5s ease-out-quart 0.6s;
	display:block;
 	width:35px;
 	height:3px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	margin-top: 5px;	
}

.icon_to-open i:nth-of-type(1) { top: 0px; width: 35px; }
.icon_to-open i:nth-of-type(2) { top: 9px; width: 23px;  }
.icon_to-open i:nth-of-type(3) { top: 18px; width: 35px; }

.icon_to-open i:nth-of-type(2) { 
	left: 38%;
}

/* icon exit */
.icon_to-exit {
	opacity: 0;
	transform: rotate(-45deg);
	transform-origin: center;
	transition: all 0.5s ease-out-quart 0s;
 	-webkit-transition:all .2s;
 	-moz-transition:all .2s;
 	-o-transition:all .2s;
 	transition:all .2s;
}

/* cross 'X' */
.icon_to-exit i {
	background: #000;
	margin: auto;
	position: absolute;
	top: 0;
	width: 28px;
	height: 3px;
}
.icon_to-exit i:nth-of-type(1) { transform: rotate(45deg); }
.icon_to-exit i:nth-of-type(2) { transform: rotate(-45deg);  }

.btn_icon .icon_to-open{ 
 width:42px;
 height:42px;
 background-color: transparent;
 color: #000;
 padding:3px 17px;
 border-radius:50%;
 transition:all .4s ease;
}

/* Label text */

.menu_btn .btn_label {
	display: none;	
	margin-left: 5px;
	overflow: hidden;
	padding-right: 5px;
	position: relative;
	user-select: none;
	vertical-align: middle;
	margin-bottom: 5px;
}

/* @media (--xs-up) {*/
@media (min-width: 599px) { 
	.menu_btn .btn_label {
		display: flex;
	}
	.btn_icon .icon_to-open{ background:none}
}

.menu_btn .label_text {
	color: #fff;
	font-size: 15px / 1em;
	letter-spacing: 0.125em;
	margin-left: 10px;
	position: relative;
	text-transform: uppercase;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out-quart;
}
.menu_btn .label_text::before {
	color: var(--text-black);#2d2c2b;
	content: attr(data-exit-label);
	position: absolute;
	top:100%;
	right: 0;
	bottom: 0;
	transform: translateZ(0);
	margin-bottom: 5px;
}

/* has scrolled menu icon */
.has-scrolled .icon_to-open i { background: var(--text-black); }
.has-scrolled .menu_btn .label_text { color: var(--text-black); }


/* Menu open */
.is-open .header_inline {
	background: rgba(25,16,36,0) !important;
	backdrop-filter: blur(0) !important;
}
.is-open .header_inline .inline_btn,
.is-open .header_inline .inline_logo {
	opacity: 0;
}

.is-open .icon_to-open i {
	width: 0 !important;
}
.is-open .icon_to-open i:nth-of-type(1) {
	transition-delay: 0s;
}
.is-open  .icon_to-open i:nth-of-type(2) {
	transition-delay: 0.175s;
}
.is-open .icon_to-open i:nth-of-type(3) {
	transition-delay: 0.35s;
}

.is-open .menu_btn .icon_to-exit {
	opacity: 1;
	transform: rotate(0deg);
	transition-delay: 0.9s;
}
.is-open .menu_btn .label_text {
	transform: translateY(-100%) !important;
	transition-delay: 0.25s;
}

/* ------------------------------------------------------------------- 

 * Navigaion
 * NAV / Menu 

* ------------------------------------------------------------------- */

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.align-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*------------------------------------
  Navigation menu - Slide IN
-------------------------------------*/
#nav {
	width:calc(100% - 8vw);
	height: auto;
 	background: var(--sand2);linear-gradient(45deg, #2b2b2b, #323232);
 	position: fixed;
	right:0;
	top:0;
 	z-index:100;

	-webkit-transform:translate3d(100%, 0, 0);
	-moz-transform:translate3d(100%, 0, 0);
	-ms-transform:translate3d(100%, 0, 0);
	-o-transform:translate3d(100%, 0, 0);	
	transform:translate3d(100%, 0, 0);
  	-webkit-transition: transform .7s ease-in-out;
  	-moz-transition: transform .7s ease-in-out;
  	-ms-transition: transform .7s ease-in-out;
  	-o-transition: transform .7s ease-in-out;
  	transition: transform .7s ease-in-out;
	height:100%; 
}

nav {
	display: block;
	width:calc(100% - 10vw);
	height: 100%;
	position:fixed;
 	z-index:100;
	padding-top: 50px;
}	


@media screen and (min-width: 48em){nav{padding-top:100px}}
@media screen and (min-width: 80em){#nav{max-width:480px;}}

/*
@media screen and (min-width: 48em){#nav{padding-top:100px}}
@media screen and (min-width: 80em){#nav{max-width:480px; padding-top:120px;}}
*/

/* Menu open */
.is-open #nav {
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

/*------------------------------------
  Navigation Menu - Design
-------------------------------------*/
#nav li a span{
	margin-right: 10px;
}

#nav li a {
    display: flex;
    align-items: center;
 	padding: 10px 0;
	font-family: 'Poppins', sans-serif;
  	font-size:calc(2.125rem + 2 * ((100vw - 26.25rem) / 1200));
	line-height:1.325em;
  	margin-top: 5px;  

	color: #2d2c2b; #fff;		
 	letter-spacing:-0.02em;
 	text-transform:uppercase;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;	 
	
	/* extra */
    margin-margin: .75rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);	
}

/* mobile view -  799px = 62rem
---------------------------------------------*/
@media only screen and (max-width: 800px) { /*62rem*/
	#nav li {
		

	}

}
/* mobile view -  799px = 62rem
---------------------------------------------*/

@media screen and (max-width: 48em) {
	#nav li a {/*
		padding: 6px 0;
  		font-size: 5.20834vw;*/

		font-size:calc(1.5rem + 2 * ((100vw - 26.25rem) / 1200));
		line-height:1.325em;
		margin-top: 5px;  	
 	}
}
	
/* mobile view -  799px = 62rem
---------------------------------------------*/
@media only screen and (max-width: 800px) { /*62rem*/


}

/* hide scrollbar but allow scrolling */
#nav {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
  	scrollbar-width: none; /* for Firefox */
  	overflow-y: scroll; 
}

#nav::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

/*------------------------------------
  Navigation Menu - Dropdown submenu
-------------------------------------*/
#nav .children li a {
	text-transform: none;
	font-size: 1.35rem;
    align-items: ;
 	padding: 5px 0;	
    font-weight: 700;
    text-shadow:none;
	
}

.mini-text {
	text-transform: none;
	font-size:0.85rem;  
	align-items: center;
	font-weight: normal;
    text-shadow:none;
	margin-left: 0rem;
	line-height: 1.45;
	color: var(--dark);rgba(255,255,255,0.7);
}

.mobile-menu li:first-child {
  margin-top: 70px;
}
.has-children:hover{
	cursor:hand;
}
.children2,
.children {
	display:none;	
}
.mobile-menu .children li:first-child {
  margin-top: 0px; 
}
	.has-children {
		position: relative;
        margin-bottom: 10px;
		border-bottom: 1px solid #c6c1ba;
    }

    .has-children:after {
    	position: absolute;
        right: 10px;
		top: 17px;
        content: "+";
        display: block;
        font-size: 20px;
        font-weight: 700; 
		color: var(--text-black);
		
     }
     .has-children.opened:after {
        content: "-";
		color: var(--text-black);
     }

@media only screen and (max-width: 800px) { 
	
	.has-children {
        margin-bottom: 10px;
    }

    .has-children:after {
        right: 10px;
		top: 0px;
     }

}
/* Active menu link
---------------------------------------------*/
#nav ul li a:hover, #nav ul li a.active,
ul.children2 li a:hover, ul.children2 li a.active, 
ul.children li a:hover, ul.children li a.active {
	color:var(--text-gray);
}

/* submenu first level of second sub item */
#nav ul li .children ul li a{
	font-size: 1.15rem;  
	line-height: 1.45;
	color:rgba(255,255,255,1); rgba(255,255,255,0.7);
}
/* submenu first level of  open/close icon */
#nav ul li .children .has-children:after {
            position: absolute;
            right: 10px;
            top: 6px;
            content: "+";
            display: block;
            font-size: 20px;
            font-weight: 700; 
			color: var(--text-gray);
        }
        #nav ul li .children .has-children.opened:after {
            content: "-";
			color: var(--text-gray);
        }

/*====================================================
06. HEADER Title for each of SECTION
====================================================*/

.h1 {
  letter-spacing: 0;
  font-size: 3rem;
  line-height: 1;
  font-family: "Sharp Grotesk 15",Helvetica,sans-serif;
  text-transform: uppercase;
  hanging-punctuation: force-end; 
  margin-bottom: 25px; 
  margin-top: 3rem;
}
.h1 b{color: var(--sage) }



/* ------------------------------------------------------------------- 
 * Heading text - section 
 * ------------------------------------------------------------------- */
.heading-text {
  letter-spacing: -.55rem;
  cursor: default;
  font-size: 6rem;
  line-height: 1.1;
  position: relative;
  left: -.5rem;
  font-weight: 400;
  color: var(--text-black);
}

.heading-text.center {
  text-align: center;
  left: 0;
}

.heading-text.center.split-left {
  width: 95%;
  height: 100%;
  color: var(--white);
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.heading-text.center.split-right {
  width: 100%;
  height: 100%;
  color: var(--white);
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .heading-text {
    letter-spacing: -.5vw;
    font-size: 6vw;
  }

  .heading-text.center.split-left {
    text-align: right;
  }

  .heading-text.center.split-right {
    text-align: left;
  }

  .column-text-row {
    grid-column-gap: 3.5vw;
    grid-row-gap: 3.5vw;
  }

  .column-text-heading {
    letter-spacing: -.2vw;
    font-size: 2.5vw;
  }

}

@media screen and (max-width: 991px) {

  .xlarge-heading-text {
    font-size: 15rem;
  }

}

@media screen and (max-width: 767px) {

  .xlarge-heading-text {
    letter-spacing: -1rem;
    font-size: 10rem;
  }

}

@media screen and (max-width: 479px) {
  .heading-text {
    letter-spacing: -.15rem;
    font-size: 2.5rem;
  }
  .xlarge-heading-text {
    letter-spacing: -.7rem;
    font-size: 5.5rem;
  }
}

.font-32 {
	font-size: 32px;
	line-height: 44px;
}
@media (max-width: 1020px) {
	.font-32 {
		font-size: 22px;
		line-height: 30px;
	}
}

.location .heading-text.center.split-right { color: black ;}

.location .font-32 {
	font-size: 22px;
	line-height: 44px;
	margin: 0px 0;
}

@media (max-width: 1020px) {
	.location .font-32 {
		font-size: 20px;
		line-height: 30px;
	}
}

/*====================================================
07. Premier sushi - section
====================================================*/

@media only screen and (max-width: 47.9375rem) {
  #about {
    padding-top: 70px; } }

.containerWrapper {
  overflow: hidden; }

.sectionWrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 48rem) {
	.sectionWrapper {
    	padding-top: 75px;
    	padding-bottom: 75px; 
	} 
}

@media only screen and (min-width: 64rem) {
    .sectionWrapper {
      padding-top: 100px;
      padding-bottom: 100px; }
}

/*====================================================
08.1 STEP - section 
====================================================*/

/*=============== .section REUSABLE CSS CLASSES ===============*/
.section{
	padding: 5.5rem 0 1rem;
}



.grid{
	display: grid;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){

}

/* For medium devices */
@media screen and (min-width: 576px){
	
}


/* For large devices */
@media screen and (min-width: 992px){
	.container{
    	margin-left: auto;
    	margin-right: auto;
  	}

  	.section{
    	padding: 8rem 0 1rem;
  	}


}


/*=============== ABOUT ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){

}

/* For medium devices */

@media screen and (min-width: 767px){
	.about__container{
		grid-template-columns: repeat(2, 1fr);
  	}
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }

  .about__img{
    width: 380px;
	float: left;
	
  }

}

@media screen and (min-width: 1200px){

  .about__container{
    column-gap: 7rem;
  }

}


/*====================================================
11. CONTACT - section / end wrapper 
====================================================*/
/*====================================================
13. Animations
====================================================*/


.headerBox {
	animation: fadeIn 0.3s ease-in both; 
	animation-delay: 0.3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


/*====================================================
14. SCROLL UP
====================================================*/
.scrollup{
	position: fixed;	
  	border-radius: 5px 0 0 5px;
  	bottom: 60px;
  	color: #ffffff;
  	font-size: 10px;
  	padding: 12px 0;
  	height: 60px;
  	line-height: 1.5;
  	right: 0;
	z-index: 10;
	text-align: center;
  	width: 35px;
 	font-weight: 700;
  	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  	text-transform: uppercase;	
  	background-color: var(--text-black2);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-transform: translateY(40px);
	   -moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		 -o-transform: translateY(40px);
			transform: translateY(40px);
	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		 -o-transition: all .6s ease;
			transition: all .6s ease;	
}

.scrollup__icon{
    font-size: 18px;
    display: block;
}

.scrollup:hover{
	color:#fff;
			opacity: 0.7;
	   -moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.scrollup > svg {
	margin-bottom: -0.15rem;
}

/* Show Scroll Up*/
.show-scroll{
	-webkit-transform: translateY(-20px);
	   -moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		 -o-transform: translateY(-20px);
			transform: translateY(-20px);
			opacity: 1;
	   -moz-opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

@media only screen and (max-width: 640px) {
  	.scrollup {
		right: 0;
  	}
	.show-scroll {
    	bottom: 5px;
  	}	
}
/*
@media only screen and (max-width: 480px) {
  	.scrollup {
			opacity: 0;
	   -moz-opacity: 0;
	-webkit-opacity: 0;
	filter: alpha(opacity=0); 	}

}
*/
/*====================================================
12. Contact - Section
====================================================*/

#contact { background-color: var(--bg-dark);}

/*====================================================
13. Footer - Section
====================================================*/



.link-btn--2 {
  color:#fff;
  display:-ms-inline-flexbox;
  display:inline-flex;
  padding-right:.9em;
  position:relative;
  text-transform:uppercase;
}
.link-btn--2 .btn_arrow {
  margin:auto 0;
  top:0;
  right:0;
  bottom:.1em;
  position:absolute;
  width:15px;
  height:15px;
  -ms-transform-origin:bottom left;
  transform-origin:bottom left;
  transition:opacity .2s cubic-bezier(.165,.84,.44,1); 
}
.link-btn--2 .btn_arrow > path {
  fill: var(--earth);/*8d8985*/
}
 .link-btn--2.-reveal-arrow .btn_arrow {
  -ms-transform:scale(0);
  transform:scale(0)
}

.footer {
  background: #050505; #1f2941;#ece7de;
  border-top: 1px solid hsla(0,0%,100%,.1);
  padding: 1rem 0;
  text-align:center;
}
.footer .footer_row {
  display:block;
  width:100%
}
.footer .footer_main .main_logo {
  margin-bottom: 2rem;
}

.footer .footer_main .logo_anchor {
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex-pack:center;
  justify-content:center;
  margin:0 auto;
  max-width: 100%;
  text-align:center;
  
  font-family: "Inter-Regular";
  font-size: 2.5rem;
  color: var(--sand); #2d2c2b;
  text-transform: uppercase;
  font-weight: 600;
  line-height:1;
  outline: 4px solid var(--sand);c1c1c1;2d2c2b;
  padding: .175em;
}
.footer .footer_main .logo_anchor:hover { 
	opacity: .75;
}
.footer .footer_main .logo_src {
  display:-ms-inline-flexbox;
  display:inline-flex;
  margin:auto;
  max-width:100%;
  width:auto!important;
  height:auto!important  
}
.footer .footer_main .main_menu {
  display:grid;
  grid-template-columns:repeat(2,1fr); 
 }

.footer .btn_label {
  color: var(--sand); 
  display:-ms-inline-flexbox;
  display:inline-flex;
  font-family:Tungsten;
  font-size:calc(22px + 2 * ((100vw - 420px) / 1200));
  font-size:calc(1.375rem + 2 * ((100vw - 26.25rem) / 1200));
  font-weight:500;
  letter-spacing:.025em;
  line-height:1em;
  margin-top: 3px;
  text-transform:uppercase
} 
 
.footer .links_item {
  display:-ms-flexbox;
  display:flex; 

}
.footer  .links_item:not(:last-child) {
  margin-bottom:.15em;
}

.footer .footer_main .links_item {
  font-family: "Inter-Regular";
  font-size:calc(22px + 6 * ((100vw - 420px) / 1200));
  font-size:calc(1.375rem + 6 * ((100vw - 26.25rem) / 1200));
  font-weight:500;
  line-height: 1em; 
}

.footer .footer_main .item_link {
  color: var(--sand);#2d2c2b; hsla(0,0%,100%,.6);
  transition:all .3s cubic-bezier(.165,.84,.44,1);
}

.footer .btn_label:hover,
.footer .footer_main .item_link:hover {
  color: var(--earth);
}

.footer .footer_bottom {
  margin-top: 3.25rem;
  margin-bottom: 1rem;
}
.footer .footer_bottom .footer_text {
  color: var(--earth); #c1c1c1; #2d2c2b; hsla(0,0%,100%,.6);
  font-size: .875rem;
  line-height:1em;
  text-transform:uppercase;
}

.footer .footer_bottom .footer_text:hover {
  color: var(--sand);
}
.footer .footer_bottom .bottom_links {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
  justify-content:center;
  margin-top:6px;
  text-align:center
}
.footer .footer_bottom .links_item:not(:last-child) .item_link:after {
  content:"/";
  display:-ms-inline-flexbox;
  display:inline-flex;
  margin:auto .25em
}

@media screen and (max-width:420px) {

  .footer .footer_main .main_menu .links_item {
    font-size:22px
  }
  .footer .footer_main .logo_anchor { font-size: 1.45rem}

}
@media only screen and (min-width: 48rem) {

  .footer {
    padding-bottom:40px;
    padding-top:40px;
    text-align:left;
  }

  .footer .footer_row {
    display:grid;
    grid-template-columns:repeat(2,1fr)
  }
  .footer .footer_bottom {
    margin-top:15px
  }

  .footer .footer_main .main_logo {
    margin-bottom:0
  }
  .footer .footer_main .logo_anchor {
    max-width:337px;
  }
  .footer .footer_bottom .bottom_links {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top:0;
    text-align:left
  }
  .footer .footer_bottom .links_item:not(:last-child) .item_link:after {
    content:"";
    display:none;
    margin:0
  }

}

/*====================================================
13. HERO
====================================================*/


.hero-bg {
  background-color:#161616;
  color:#fff;
  display:block;
  font-size:0;
  overflow:hidden;
  position:relative;
  width:100%; 
}

.-wrapper {
  margin-left:auto;
  margin-right:auto;
  width:100%; 
}
.-wrapper--pad {
  padding-left:20px;
  padding-right:20px
}
.-wrapper--1 {
  max-width:1520px
}
.-wrapper--1.-wrapper--pad {
  max-width:1560px
}

.z-index--0 {
  z-index:0!important
}


.c-hero-mega {
  -ms-flex-align:stretch;
  align-items:stretch;
  -ms-flex-pack:center;
  justify-content:center;
  min-height:600px;
  overflow:visible;

}
.c-hero-mega,
.c-hero-mega .hero_bottom {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
}
.c-hero-mega .hero_bottom {
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:end;
  justify-content:flex-end;
  margin-top:35px;
  position:relative;
  text-align:right;
  width:100%; 
}
.c-hero-mega .hero_bottom .arrow {
  appearance:none!important;
  box-shadow:none!important;
  outline:none!important;
  background:transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='113' height='58' viewBox='0 0 113 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l55.5 55.5L112 1' stroke='%23fff'/%3E%3C/svg%3E") no-repeat 50%/60px 30px;
  
  cursor:pointer;
  margin:32px auto 0;
  width:60px;
  height:30px;
  z-index:2
}

.c-hero-mega .hero_content {
  z-index:1;  
}
.c-hero-mega .hero_content {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-flex-pack:center;
  justify-content:center;
  position:relative;
}
.c-hero-mega .hero_content .content_upper {
  display:block;
  font-size:calc(20px + 4 * ((100vw - 420px) / 1200));
  font-size:calc(1.25rem + 4 * ((100vw - 26.25rem) / 1200));
  font-family:Tungsten;
  font-weight:500;
  letter-spacing:.025em;
  line-height:1em;
  margin-bottom:.6em;
  opacity:0;
  padding-left:30px;
  position:relative;
  text-transform:uppercase;
  -ms-transform:translateY(20px);
  transform:translateY(20px)
}
.c-hero-mega .hero_content .content_upper:before {
  background:#e21836;
  content:"";
  display:block;
  margin:auto 0;
  top:0;
  right:calc(100% - 10px);
  bottom:0;
  position:absolute;
  width:30px;
  height:1px; 
}
.c-hero-mega .hero_content .content_heading {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  padding-left:80px;
  padding-right: 80px;
  margin-top: 10rem 
  
}
.c-hero-mega .hero_content .heading_line {
  -ms-flex-align:end;
  align-items:flex-end;
  display:-ms-inline-flexbox;
  display:inline-flex; 
  translate: none; rotate: none; scale: none; transform: translate(-60px);  background-color:rgba(255, 255, 255, 0);

}

.c-hero-mega .hero_content .heading_line:not(:last-child) {
  margin-bottom:0; 
}
.c-hero-mega .hero_content .heading_line:not(:last-child) .line_title {
  -ms-transform:translateX(-40px);
  transform:translateX(-40px);   
  translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1;
  padding-bottom:0.57rem; 
  color: #fff;
}
/* hibachi */
.c-hero-mega .hero_content .heading_line:last-child {
  -ms-flex-pack:end;
  justify-content:flex-end;
  text-align:right;
  
  translate: none; rotate: none; scale: none; transform: translate(60px);
}

.c-hero-mega .hero_content .heading_line:last-child .line_title {
  color: var(--text-red2); 
  -ms-transform:translateX(40px);
  transform:translateX(40px);
  padding-bottom:0.5rem;
  translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1;
}
.c-hero-mega .hero_content .line_title {
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  font-family: 'Inter-Regular';
  font-size:calc(30px + 290 * ((100vw - 768px) / 1152));
  font-size:calc(2rem + 290 * ((100vw - 48rem) / 1152));
  

  font-size:calc(7.85rem + 10 * ((100vw - 26.25rem) / 1200));

  font-weight:600;
  letter-spacing:.005em;
  line-height:1em;
  margin-bottom:-.19em;
  opacity:0;
  text-transform:uppercase;
  -ms-transform:translateY(20px);
  transform:translateY(20px); 
  
  text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);  
}
.c-hero-mega .hero_content .heading_sub {
  display: none;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  line-height:1.325em;
  font-size:20px;
  font-size:1.25rem;
  max-width:420px;
  padding-left:1.25em;
  vertical-align:bottom; 

}
.c-hero-mega .hero_content .content_descr-mob {
  display:block;
  font-size:calc(18px + 2 * ((100vw - 420px) / 1200));
  font-size:calc(1.125rem + 2 * ((100vw - 26.25rem) / 1200));
  line-height:1.325em;
  margin-top:25px;

}
.c-hero-mega .hero_content .sub_line {
  overflow:hidden;
  position:relative;
  
  color: #FFF;
  display: block; text-align: start;
}
.c-hero-mega .hero_content .sub_line .line_inner {
  opacity:0;
  -ms-transform:translateY(100%);
  transform:translateY(100%);
  
  display: block; 
  text-align: start; 
  position: relative; 
  translate: none; 
  rotate: none; scale: none; 
  transform: translate(0px); 
  opacity: 1;
}
.c-hero-mega .c_media {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
  overflow:visible;
  -ms-transform:scale(1.1);
  transform:scale(1.1);
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  z-index:0
}
.c-hero-mega .c_media:before {
  background: linear-gradient(180deg,hsla(0,0%,9%,0) 0,#161616 75%); linear-gradient(180deg,hsla(0,0%,9%,0) 0,#161616 75%);
  content:"";
  display:block;
  right:0;
  bottom:-150px; 300px;
  left:0;
  position:absolute;
  width:100%;
  height:340px;
  z-index:1; 
}
.c-hero-mega .media_img,
.c-hero-mega .media_video {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  height:calc(100% + 300px)!important;
  height:calc(100% + 100px)!important;
  opacity:1;.25;
  z-index:0; 
}

.c-hero-mega .media_img,
.c-hero-mega .media_img img,
.c-hero-mega .media_video {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  filter:grayscale(10%);
  object-fit:cover;
  object-position:bottom
}
.c-hero-mega .media_img img[data-src]:not(.lazyloaded) {
  opacity:0
}
.c-hero-mega .media_img img[data-src].lazyloaded {
  opacity:1!important
}


@media screen and (min-width:1620px) {
  .c-hero-mega .hero_content .content_upper {
    font-size:24px
  }
  .c-hero-mega .hero_content .content_descr-mob {
    font-size:20px
  }
}
@media screen and (max-width:420px) {

  .c-hero-mega .hero_content .content_upper {
    font-size:20px
  }
  .c-hero-mega .hero_content .content_descr-mob {
    font-size:18px
  }
}


@media (min-width:1025px) {
  c-.hero-mega {
    min-height:880px;
    padding-top:300px;
  }		
  .c-hero-mega .hero_bottom {
    height:120px;
    margin-top:150px
  }
  .c-hero-mega .media_img,
  .c-hero-mega .media_img img,
  .c-hero-mega .media_video {
    object-position:center
  }
  .c-hero-mega .hero_bottom .arrow {
    background-size:113px 58px;
    margin-bottom:0;
    margin-top:0;
    right:0;
    bottom:20px;
    left:0;
    position:absolute;
    width:113px;
    height:58px;
	
  }
  .c-hero-mega .hero_content .heading_sub {
    display:-ms-inline-flexbox;
    display:inline-flex;
    -ms-flex-direction:column;
    flex-direction:column
  }
  .c-hero-mega .hero_content .content_descr-mob {
    display:none;
  }
}
@media (min-width:1431px) {
  .-wrapper--pad {
    padding-left: 80px;
    padding-right:80px; 
  }
  .-wrapper--1.-wrapper--pad {
    max-width:1680px
  }

}
@media (min-width:1230px) and (max-width:1430px) {
  .-wrapper--pad {
    padding-left:40px;
    padding-right:40px
  }
  .-wrapper--1.-wrapper--pad {
    max-width:1600px
  }

}


@media screen and (max-width:768px) {
  .c-hero-mega .hero_content .line_title {
    font-size:80px
  }
 
}



/* --------------------------------------------------------------
/* Location - Section @home page
-------------------------------------------------------------- */
.location-section{
	padding-top: 40px;
	padding-bottom: 80px;
}
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

#blog .blog-item-wrapper:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#blog .blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}

#blog .blog-item-img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#blog .blog-item-img img {
  width: 100%;
}

#blog .blog-item-text {
  padding: 20px;
}

#blog .blog-item-text h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}

#blog .blog-item-text h3 a {
  color: #333;
}

#blog .blog-item-text h3 a:hover {
  color: #3d60f4;
}

#blog .blog-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}

.meta-tags {
  margin-bottom: 10px;
}

.meta-tags span {
  color: #999;
  margin-right: 10px;
}

.meta-tags span i {
  margin-right: 5px;
}

.meta-tags span a {
  color: #999;
}

.meta-tags span a:hover {
  color: #3d60f4;
}

.page-header {
  background-image: url(../img/page-header-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.page-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.breadcrumb-wrapper {
  padding: 180px 0 100px;
}

.breadcrumb-wrapper h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.breadcrumb-wrapper .breadcrumb-title p,
.breadcrumb-wrapper .breadcrumb-title a {
  color: #fff;
}

.breadcrumb-wrapper .breadcrumb-title p:hover,
.breadcrumb-wrapper .breadcrumb-title a:hover {
  color: #3d60f4;
}

/* --------------------------------------------------------------
/* GAllery - Swiper slider
-------------------------------------------------------------- */
.u-comp-def--1 {
 color:#f5f5f5;
 overflow:hidden;
 padding-bottom: 4rem;
}
.u-comp-def--1,
.u-comp-def--2 {
 display:block;
 font-size:0;
 position:relative;
 width:100%
}
.u-comp-def--2 {
 background-color:#f5f5f5;
 color:#050505
}
.u-comp-def--3,
.u-comp-def--4 {
 color:#f5f5f5;
 display:block;
 font-size:0;
 overflow:hidden;
 position:relative;
 width:100%
}
.u-comp-def--4 {
 background-color:#050505;
 margin-top:-265px
}
.u-comp-def--5 {
 background-color:#95e0ea;
 color:#050505;
 display:block;
 font-size:0;
 overflow:hidden;
 position:relative;
 width:100%
}
.u-img-def--1 {
 top:0;
 left:0;
 position:absolute;
 width:100%;
 height:100%;
 object-fit:cover;
 object-position:center
}
.c--1 {
 color: var(--text-red2);
}
.-bg--1 {
 background-color:transparent
}

.u-hidden {
 display:none!important;
 visibility:hidden!important
}
.u-wrapper {
 margin-left:auto;
 margin-right:auto;
 width:100%
}
.u-wrapper--pad,
.u-wrapper--pad-nav {
 padding-left:4.5vw;
 padding-right:4.5vw
}
.u-wrapper--1 {
 max-width:1440px
}
.u-wrapper--2 {
 max-width:1540px
}
-z-index--2 {
 z-index:2!important
}
.u-z-index--1 {
 z-index:1!important
}
.u-z-index--0 {
 z-index:0!important
}



/* --------------------------------------------------------------
/* Gallery - slick-slider
-------------------------------------------------------------- */
	
	/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.no-scroll {
  overflow: hidden; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.center-image, .card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
 }

.slick-slide {
  padding: 2em .5em; }


.container_card {
  padding: 1em;
  max-height: 100vh;
  display: flex;  
 overflow:hidden;
 padding-bottom: 4rem;
}


.card-slider .u-comp-def--2 {
 display:block;
 font-size:0;
 position:relative;
 width:100%
}
.card-slider .u-comp-def--2 {
 background-color:#f5f5f5;
 color:#050505
}

.card-slider {
  margin: auto;
  width: 100%;
 
 }
 
.card-wrapper {
 font-size:20px;
 font-size:1.25rem;
 -ms-flex:0 0 auto;
 flex:0 0 auto;
 border-radius:15px;
 overflow:hidden;
 position:relative;
 max-width:452px;
} 

.card{
 display:-ms-flexbox;
 display:flex;
 -ms-flex-direction: row;
 flex-direction:row;
 column-gap:4px;
 min-height: 440px;556px;
 padding: 20px;
}
 
.card__background {
 top:0;
 right:0;
 bottom:0;
 left:0;
 position:absolute;
 z-index:2;
 width:100%;
 height:100%;
 pointer-events:none;
 background-color:#050505;
 transition:all .3s ease-in-out;
}

.card__background .card_item-image {

  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover; 
}
.card-wrapper:hover .card__background{
 opacity:0; 	
}

.card__title-wrapper {
 -ms-flex-item-align:start;
 align-self:flex-start;
 z-index:3;
 min-width: 53px;

}

.card__title {
 letter-spacing:-.0125em;
 line-height:.75em;
 text-transform:uppercase;
 color:#f5f5f5;
 transition:all .3s ease-in-out;
 font-size:calc(20px + 2 * ((100vw - 420px) / 1020));
 font-size:calc(1.5rem + 2 * ((100vw - 26.25rem) / 1020)); 
  right:0;
  margin-right: 20px;

  position: absolute; 
}

.card__title {
 	-ms-writing-mode:tb-rl;
 	writing-mode:vertical-rl;
 	-ms-transform:rotate(180deg);
 	transform:rotate(180deg);
}

.card__title-wrapper .card__title{
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.1)
}

.card-wrapper:hover .card__title-wrapper .card__title {
	color:#050505;
}

.card_description {
	color: #050505;
 	z-index:1;
 -ms-flex-item-align: end;
 align-self:flex-end;
 text-align: right;

}

.card_description p{ margin-bottom: 10px; }

.card_website {
	-ms-flex-item-align:end;
	align-self:flex-end;	
	padding-bottom:8px;
	border-bottom: 1.5px solid var(--text-grey);
	transition:border-color .4s ease;

}

.card_website:hover {
	border-color:#050505
}

.card_description p {
	font-size:calc(10px + 4 * ((100vw - 420px) / 1020));
	font-size:calc(.75rem + 4 * ((100vw - 26.25rem) / 1020));
}
.card_description span {
	text-transform: uppercase;
 	font-size:calc(10px + 2 * ((100vw - 420px) / 1020));
	font-size:calc(.625rem + 2 * ((100vw - 26.25rem) / 1020));	
}

@media (max-width: 999px) {
	.card,
	.card-wrapper {
	 min-height: 315px;
	}
}

/* prev, next button - controls */
.card-controls {
	bottom: 0;
	position: absolute;
	right: 0;
	display: flex;
 	display:-ms-flexbox;
 	display:flex;
 	-ms-flex-direction:row;
 	flex-direction:row;
 	-ms-flex-align:center;
 	align-items:center; 	
}

.card-controls span {
	margin-left: 20px;
  	border: 1px solid #fff;
  	border-radius: 2px;
  	display:-ms-flexbox;
  	display:flex;
  	-ms-flex-align:center;
  	align-items:center;
  	-ms-flex-pack:center;
  	justify-content:center;
  	width:42px;
  	height:42px;   
}

.card-controls svg {
	top: 0;
	bottom: 5px;
}
.card-controls svg stoke {
	fill: white;
}
.card-controls svg:hover path  {
	fill:var(--earth);
}
.card-controls span:hover {
  	border: 1px solid var(--earth);	
	cursor: default;
	opacity: 1;

	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		 -o-transition: all .6s ease;
			transition: all .6s ease;	
}
@media (max-width: 999px) {
	.card-controls {
	  position: relative;
	  bottom: -10px;
	  left: -20px;
	  height: auto;
	  width: 100%;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;	
	}
}


/* --------------------------------------------------------------
/* =SMALL SCREENS
-------------------------------------------------------------- */


