

/* ------------------------------------------------------------------- 
 * button  - styles
 * ------------------------------------------------------------------- */

  /* button  */
.button {
	appearance: none;
	align-items: center;
	background: #000;
	border: 2px solid #000;
	border-radius: 43px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	outline: 0;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-out-quart;
	user-select: none;
	/* Hover */
	/* Modifiers */
	padding: 4px 20px 4px 20px;
	color: #fff;
}

.button:hover { 
	opacity: 0.65; 
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		 -o-transition: all .2s ease;
			transition: all .2s ease;		
}


.button--1 {
 appearance:none!important;
 box-shadow:none!important;
 outline:none!important
}
.buttons_btn {
 text-transform:uppercase
}
.btn_label {
 font-family:Space Grotesk,sans-serif;
 font-weight:400;
 font-size:14px;
 font-size:.875rem
}
.underline-black,
.underline {
 display:inline-block;
 position:relative;
 text-decoration:none
}
.underline-black:after,
.underline:after {
 content:"";
 position:absolute;
 width:100%;
 -ms-transform:scaleX(0);
 transform:scaleX(0);
 height:1px;
 bottom:-3px;
 left:0;
 background-color:#f5f5f5;
 -ms-transform-origin:bottom right;
 transform-origin:bottom right;
 transition:transform .25s ease-out
}

.underline-black:hover:after,
.underline:hover:after {
 -ms-transform:scaleX(1);
 transform:scaleX(1);
 -ms-transform-origin:bottom left;
 transform-origin:bottom left
}
.button--1 {
 display:-ms-inline-flexbox;
 display:inline-flex;
 padding-right:49px;
 position:relative;
 -webkit-user-select:none;
 -ms-user-select:none;
 user-select:none
}

.underline-black:after {
 background-color:#161616;
}


.button--1,
.button--1:after,
.button--1:before {
 height:42px;
 transition:all .5s cubic-bezier(.165,.84,.44,1)
}
.button--1:after,
.button--1:before {
 border-radius:100%;
 content:"";
 margin:auto 0;
 top:0;
 bottom:0;
 position:absolute;
 width:42px
}
.button--1:before {
 background: var(--earth) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' fill='none' viewBox='0 0 15 16'%3E%3Cpath fill='%23050505' fill-rule='evenodd' d='M10.349 8.747H.742v-2h9.601L5.336 1.74 6.75.325l7.424 7.425-7.424 7.425-1.414-1.415 5.013-5.013z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50%/15px;
 left:0;
 -ms-transform:scale(0);
 transform:scale(0);
 -ms-transform-origin:left;
 transform-origin:left
}
.button--1:after {
 background: var(--earth) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='none' viewBox='0 0 11 11'%3E%3Cpath fill='%23050505' fill-rule='evenodd' d='M7.59 9L.797 2.207 2.21.793 9 7.582V.5h2V11H.5V9h7.09z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50%/11px;
 right:0;
 -ms-transform-origin:right;
 transform-origin:right
}
.button--1 .btn_label {
 -ms-flex-align:center;
 align-items:center;
 border-radius:80px;
 border:1px solid var(--earth);
 color:#f5f5f5;
 display:-ms-inline-flexbox;
 display:inline-flex;
 font-family:Space Grotesk,sans-serif;
 font-weight:500;
 font-size:calc(13px + 2 * ((100vw - 420px) / 1020));
 font-size:calc(.8125rem + 2 * ((100vw - 26.25rem) / 1020));
 line-height:1em;
 padding:0 19px;
 text-transform:uppercase;
 transition:all .4s ease
}
.button--1 .btn_label:hover {
 color:#050505;
 background-color: var(--earth);
}
.button--1:hover {
 padding-right:0;
 padding-left:49px
}
.button--1:hover:before {
 -ms-transform:scale(1);
 transform:scale(1)
}
.button--1:hover:after {
 -ms-transform:scale(0);
 transform:scale(0)
}
.button--1.-color--1:before {
 background:#050505 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' fill='none' viewBox='0 0 15 16'%3E%3Cpath fill='%23f5f5f5' fill-rule='evenodd' d='M10.349 8.747H.742v-2h9.601L5.336 1.74 6.75.325l7.424 7.425-7.424 7.425-1.414-1.415 5.013-5.013z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50%/15px
}
.button--1.-color--1:after {
 background:#050505 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='none' viewBox='0 0 11 11'%3E%3Cpath fill='%23f5f5f5' fill-rule='evenodd' d='M7.59 9L.797 2.207 2.21.793 9 7.582V.5h2V11H.5V9h7.09z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50%/11px
}
.button--1.-color--1 .btn_label,
.button--1.-color--1:after,
.button--1.-color--1:before {
 color:#050505;
 border:1px solid #050505;
 transition:all .4s ease
}
.button--1.-color--1 .btn_label:hover {
 color:#f5f5f5!important;
 background-color:#050505!important
}

@media screen and (min-width:1440px) {
 .button--1 .btn_label {
  font-size:15px
 }
}
@media screen and (max-width:420px) {

 .button--1 .btn_label {
  font-size:13px
 }
}
/* ------------------------------------------------------------------- 
 * Links anchor  - styles
 * ------------------------------------------------------------------- */

.item_link:hover { 
	opacity: 0.35;

	-webkit-transition: all .6s ease;
	   -moz-transition: all .6s ease;
		-ms-transition: all .6s ease;
		 -o-transition: all .6s ease;
			transition: all .6s ease;	
}

/* ------------------------------------------------------------------- 
 * L - styles
 * ------------------------------------------------------------------- */
.section-hero {
	 max-width: 100%;
	 display: block;
	 min-height: 50vh;80vh;
	 position: relative;
	 justify-content: center; background: yellow
}
.container-hero {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 display: block;
}
 .hero-text {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 60vh;
	 flex-direction: column;
}
.section-hero .swiper {
	 position: relative;
	 width: 100%;
	 display: flex;
	 height: 50vh;100vh;
	 align-items: center;
	 justify-content: center;
	 z-index: 1;
	 background: #111;
}
.section-hero .swiper-slide {
	 height: 100%;
	 width: 100%;
	 position: relative;
	 text-align: center;
	 font-size: 18px;
	 display: -webkit-flex;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
.section-hero .swiper-pagination {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 overflow: hidden;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 8vw;
	 max-height: 8vw; 
	 max-width: 200px;
	 height: 200px;
	 z-index: 1;
	 background: rgba(0, 0, 0, 0.5); 
	 opacity: 0;
}
.section-hero .swiper-pagination span.active {
	 font-family: "Open Sans";
	 font-size: 28px;	 
	 font-size: 5vmin;
	 font-weight: 400;
	 color: #fff;
	 opacity: 1;
	 -webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: #fff;
}
.section-hero .swiper-navigation {
	 position: absolute;
	 bottom: 0;
	 height: auto;
	 width: 100%;
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
}
.section-hero .swiper-button-prev, 
.section-hero .swiper-button-next {
	 left: unset;
	 right: unset;
	 top: unset;
	 bottom: 0 !important;
	 transition: all 0.5s ease;
}
.section-hero .swiper-button-prev:hover, 
.section-hero .swiper-button-next:hover {
	 background: white !important;
	 color: #000;
}
.section-hero .swiper-button-disabled:hover {
	 background: white !important;
	 color: #000;
	 pointer-events: auto;
}
.section-hero .swiper-button-prev, 
.section-hero .swiper-button-next {
	 position: relative;
	 width: 7vw;
	 height: 7vw;
	 max-height: 100px;
	 max-width: 100px;
	 background: #161616;
	 z-index: 10;
	 cursor: pointer;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
}
.section-hero .swiper-button-next::after, 
.section-hero .swiper-button-prev::after {
	 font-size: 5vmin;
}
 .slide-inner {
	 overflow: hidden;
	 width: 80vw;
	 position: relative;
	 display: flex;
	 height: 60vh;
	 background: black;
	 align-items: center;
	 justify-content: center;
	 z-index: 1;
}
 .slide-inner h1 {
	 font-size: 24px;
	 color: #fff;
	 margin: 0;
	 letter-spacing: 5px;
	 line-height: 1;
	 text-transform: uppercase;
	left:0; btottom: 0;
}
 .inner-bg {
	 z-index: -1;
	 display: block;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 position: absolute;
}
 .inner-bg img {
	 filter: brightness(70%);
	 width: 100%;
	 height: 100%;
	 position: relative;
	 object-fit: cover;
	 object-position: center;
}

.section-page--1 {
	 max-width: 100%;
	 display: block;
	 min-height: 80vh;
	 position: relative;
	 justify-content: center; 
	 padding-top: 20px; 
	 padding-bottom: 100px;
}

 .info{
	 position: relative;
	 display: block;
	 width: auto;
	 height: 100%;
	 color: #000;
}
 .info-title {
	 margin-bottom: 1rem;
}
 .info-title h1 {
	 font-weight: 300;
	 font-size: 24px;
	 line-height: 24px;	 
	
}
.info-title .fromLeft { }

@media (max-width: 400px) { 
	.info-title h1 {
		font-weight: 300;
		font-size: 20px;
		line-height: 20px;
		padding:0;
	}
}

/* Location information
-----------------------------------------*/
#location-info-cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
}

#location-info-cards > div {
	background: #FFFFFF;
	border-radius: 30px;
	padding: 60px;
	position: relative;
	width: 530px;	overflow:hidden	
}

#location-info-cards > div:nth-child(1) {
	background: var(--taupe);
	color: #fff;
	margin: 0 20px 20px 0;
}

#location-info-cards > div:nth-child(1){
	height: 580px;
}

#location-info-cards > div:nth-child(2) {
	height: 570px;
}

#location-info-cards > div svg {
	bottom: 30px;
	left: 60px;
	position: absolute;
}

#location-info-cards h3 {
	font-size: 48px;
	letter-spacing: -0.03em;
	line-height: 46px;
	margin-bottom: 30px;
}

#location-info-cards a > span { color: var(--dark);}


@media (max-width: 1360px) {

	#location-info-cards > div {
		border-radius: 30px;
		padding: 50px;
		width: 380px;
	}

	#location-info-cards > div:nth-child(1) {
		height: 620px;
	}

	#location-info-cards > div:nth-child(2) {
		height: 620px;
	}
}

@media (max-width: 999px) {
	.section-page--1 { 
		padding-bottom: 50px;
	}
	#location-info-cards {
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 20px 0;
		margin-top: 40px;
	}

	#location-info-cards > div {
		border-radius: 20px;
		padding: 30px 30px 140px;
		width: 100%;
	}


	#location-info-cards > div:nth-child(1){
		margin: 0;
	}

	#location-info-cards > div:nth-child(1),
	#location-info-cards > div:nth-child(4),
	#location-info-cards > div:nth-child(2),
	#location-info-cards > div:nth-child(3) {
		height: auto;
	}

	#location-info-cards > div svg {
		bottom: 30px;
		left: 30px;
		height: 80px;
		width: 80px;
	}
}

.location_btn-group {
	display: block;
	border-top: 1px solid #EAECF0;	
  	-ms-flex-align:center;
  	align-items:center;
  	-ms-flex-pack:end;
  	justify-content:flex-end;	
  	padding: 20px 0px 10px 0px;	
  	margin-top: 1rem;
}
.location_btn-group li {
	margin-bottom: 15px;
	transition: all 0.6s;
	width: 450px;

}

/* --------------------------------------------------------------
/* Menus - info - Page section
-------------------------------------------------------------- */
#menus h3 {
	font-size: 1.5rem;
	line-height: 1;
	margin-bottom: 0.75rem;
}

.wrapper {
  	margin-top: 2rem;
  	position: relative;

	display: flex;
 	display:-ms-flexbox;
 	display:flex;
 	-ms-flex-direction:row;
 	flex-direction:row;
 	-ms-flex-align:center;
 	align-items:center;
	gap: 10px 27px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	border-radius: 5px 5px 0 0;
	border: 1px solid #f5f5f5;
 	box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  	z-index: 1;
}

.box{ 
 padding: 20px;
 -ms-flex:0 0 auto;
 flex:0 0 auto;
 overflow:hidden;
 position:relative;
 max-width: 502px;
 min-height: 300px; 
 margin-bottom: 1rem; 
}

.btn--2 {
	align-items: center;
	background: #000;
	border: 2px solid #000;
	border-radius: 43px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	outline: 0;
	overflow: hidden;
	text-decoration: none;
	padding: 10px 23px 10px 23px;
	margin-bottom: 12px;
}

.btn--2  .btn_label { 
	font-size: 1.27rem;
	font-weight: 500;
	color: #fff;
}

.btn--2:hover { 
	opacity: 0.65; 
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		 -o-transition: all .2s ease;
			transition: all .2s ease;		
}
@media (max-width: 1024px) {
	.wrapper {
		gap: 10px 5px;
	}
	.box{ 
	 padding: 20px;
	 max-width:450px; 
	}	
}

@media (max-width: 999px) { 
	.wrapper {
		-ms-flex-direction:column;
		flex-direction:column;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
}

@media (max-width:768px) { 
	.box{ 
	 min-width: 325px; 
	 min-height: 300px;
	 padding:0 30px 0 35px;
	 margin-bottom: 2rem;
	}
}


.wrapper-1 {
	max-width: 80rem;
	margin: 0 auto;
}

.wrapper-1 ul {
	padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.2rem solid #fff;
	columns: 15rem;
	column-gap: 7rem;
	column-rule: 3px dotted #fff;
	border-radius: 0.5rem;
}

.wrapper-1 ul > * + * {
	margin-top: 1rem;
}

.wrapper-1 li {
	break-inside: avoid;
}

::marker {
	content: counters(list-item, '') ': ';
	font-weight: 600;
	font-size: 1.1em;
	color: #fff;
}

.wrapper-1 li span {
	display: block;
	margin-left: 2px;
}

.wrapper-1 li span:first-child {
	font-size: 1.15rem;

}

.wrapper-1 li span:last-child {
	font-style: italic;
	font-size: 0.857rem;
	color: #777;
}

.divider {
	min-height: 6rem;
}

@media (max-width:768px) { 
.wrapper-1 ul {
	padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.3rem solid #fff;
	columns: 10rem;
	column-gap: 7rem;
	column-rule: 3px dotted #fff;
	border-radius: 0.5rem;
}
}


