
# Redirect to PHP if it exists.
# e.g. example.com/foo will display the contents of example.com/foo.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redirect to PHP if it exists.

RewriteEngine on
#does not apply to existion directories mean but 
RewriteCond %{REQUEST_FILENAME} !-d

#check for file directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

#Here we acually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]